{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row row-cols-md-3 g-4 justify-content-center">
        <div class="card text-center">
            <img src="{{post.post_url}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{post.post_title}}</h5>
            <p class="card-text">{{post.post_description}}</p>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">{{post.location}}</li>
            <li class="list-group-item">{{post.post_long_description}}</li>
            </ul>
            {% if current_user.is_authenticated %}
            <div class="card-body">
                <a class="nav text-secondary" href="/edit/{{post._id}}">Edit Post</a>
                <a class="nav text-secondary" href="/edit/album/{{post._id}}">Edit Photo Album</a>
            {% else %}
            {% endif %}
              </div>
            </div>

{% endblock %}
