{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row row-cols-md-3 g-4 justify-content-center" style="padding-left:5rem; padding-right:5rem; padding-top: 4rem;">
        <div class="card text-center" style="width: 18rem;">
            <form method="POST">
                <div class="input-group mb-3 card text-center border-0" style="padding-top: 2rem;">
                    <div class="p-2">
                        <!-- <label for="validationCustom01" class="form-label">Upload your picture</label> -->
                        <input type="url" class="form-control" name="post_url" placeholder="upload url" aria-label="Upload picture" aria-describedby="button-addon2">
                    </div>
                
                    <div class="p-2">
                        <!-- <label for="validationCustom01" class="form-label">Post Title</label> -->
                        <input type="text" class="form-control" name="post_title" placeholder="Post Title" aria-label="Album Name" aria-describedby="button-addon2">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                      </div>
                    
                    <div class="p-2 ">
                        <!-- <label for="validationCustom01" class="form-label">Location</label> -->
                        <input type="text" class="form-control" name="location" placeholder="Location" aria-label="Where was this?" aria-describedby="button-addon2">
                    </div>
                    
                    <div class="p-2">
                        <!-- <label for="validationCustom01" class="form-label">Short Description</label> -->
                        <input type="text" class="form-control" name="post_description" placeholder="Short description" aria-label="Quick description" aria-describedby="button-addon2">
                    </div>
                    
                    <div class="p-2">
                        <!-- <label for="validationCustom01" class="form-label">Details</label> -->
                        <input type="text" class="form-control" name="post_long_description" placeholder="Enter Details" aria-label="Details" aria-describedby="button-addon2">
                    </div>
                </div>   
                <div id = "listener">
                    <div id = "start">
                        Click Here to Add Another Photo
                    </div>
                </div>
                <div class="p-3 ">
                    <button class="btn btn-secondary" type="submit">Submit Post</button>
                <!-- <button class="btn btn-outline-secondary" type="submit" id="button-addon2">check</button> -->
                </div>
            
            </form>
        </div>
       
    </div> 
</div>
<script>
    var counter=0

    function run (){
        outer_div = document.getElementById("listener")
        var file = document.createElement("INPUT");  //create new div
        file.setAttribute("type", "url");
        file.innerHTML = 'click me';
        file.setAttribute("name",counter)
        outer_div.appendChild(file);                    //append the new div to clicked div
        counter=counter+1

    }
    document.getElementById("start").addEventListener("click", run);  
</script>



{% endblock content %}