{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row row-cols-md-3 g-4 justify-content-center" style="padding-left:5rem; padding-right:5rem; padding-top: 4rem;">
        <div class="card text-center" style="width: 18rem;">
            <form method="POST">
                <div class="input-group mb-3" style="padding-top: 2rem;">
                    <div>
                        <input type="url" name="photo" class="form-control" placeholder="upload picture" aria-label="Upload picture" aria-describedby="button-addon2">
                    </div>
                
                    <div>
                        <input type="text" class="form-control" name="post_title" placeholder="Post Title" aria-label="Album Name" aria-describedby="button-addon2">
                    </div>
                    
                    <div>
                        <input type="text" class="form-control" name="location" placeholder="Location" aria-label="Where was this?" aria-describedby="button-addon2">
                    </div>
                    
                    <div>
                        <input type="text" class="form-control" name="post_description" placeholder="Enter a short description" aria-label="Quick description" aria-describedby="button-addon2">
                    </div>
                    
                    <div>
                        <input type="text" class="form-control" name="post_long_description" placeholder="Enter Details" aria-label="Details" aria-describedby="button-addon2">
                    </div>
                    
                    <div>
                        <input type="submit" class="submit" value="Post!">
                    <!-- <button class="btn btn-outline-secondary" type="submit" id="button-addon2">check</button> -->
                    </div>
                </div>
            </form>
        </div>
    </div> 
</div>




{% endblock content %}