{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row row-cols-md-3 g-4 justify-content-center" style="padding-left:5rem; padding-right:5rem; padding-top: 4rem;">
        <div class="card text-center" style="width: 18rem;">
            <h5 class="card-title">{{post.post_title}}</h5>
            <p><img class="card-img-top" src="{{post.post_url}}" height="300px"></p>
            <p class="card-text">{{post.post_description}}</p>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">{{post.location}}</li>
            <li class="list-group-item">{{post.post_long_description}}</li>
            <!-- <li class="list-group-item">A third item</li> -->
            </ul>
        </div>
    </div> 

    <div>

    Edit post
    <a class="nav" href="/edit/{{post._id}}">Edit Post</a>

    Add Photos to Album
        <a class="nav" href="/edit/album/{{post._id}}">Edit Photo Album</a>
    </div>
    
    
</div>


{% endblock %}
