{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row row-cols-md-3 g-4 justify-content-center">
        <div class="card text-center">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{post_id.post_title}}</h5>
            <p class="card-text">{{post_id.post_description}}</p>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">{{post.location}}</li>
            <li class="list-group-item">{{post.post_long_description}}</li>
            <!-- <li class="list-group-item">A third item</li> -->
            </ul>
            <div class="card-body">
                <a class="nav" href="/edit/{{post._id}}">Edit Post</a>
                <a class="nav" href="/edit/album/{{post._id}}">Edit Photo Album</a>
              </div>
            </div>

{% endblock %}
