<!-- 
This page will render all of the cards created from posts made by the user  -->
{% extends 'base.html' %}

{% block content %}


<div class="container mt-5">  
    <div class="page-header text-center m-5">
        <h2>My Album <small>share your posts!</small></h1>
    </div>
   <div class="row justify-content-center">
     
        {% for item in post.post_album %}

        <div class="text-dark bg-light mb-3" style="max-width: 18rem;">
            <img src ="{{item.picture}}" alt="...">
            {{item.picture}}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}